<br><div class="row justify-content-center">
    <div class="col-md-4">
		<h2 class="text-center">Métodos de autenticação</h2><br>
		
        <form>
			{{#each auth_types}}
				<div class="form-group">
					<a class="button" href="/login?type={{this}}">{{this}}</a>
				</div>
			{{/each}}
        </form>
    </div>
</div>
