<br><h2>Please confirm your email address</h2>

<script>

	{{}}

	const coreUrl = 'http://localhost:10023/api/auth/request/${req_auth_id}/poll' 
	const coreRequest = new XMLHttpRequest();
	coreRequest.open('GET', coreUrl);
	coreRequest.send();	
	
	coreRequest.onreadystatechange = function () {
		if(coreRequest.status == 400) {
			console.log("sending request to core")
			console.log(coreRequest.responseText)
			
			setInterval(function(){ coreRequest.send(); }, 5000);
		} else if (coreRequest.status == 200) {
			console.log("sending request to i-on-web")
			
			const ionWebUrl = 'http://localhost:8080/auth_test' 
			const ionWebRequest = new XMLHttpRequest();
			ionWebRequest.open('POST', ionWebUrl);

			ionWebRequest.send(coreRequest.responseText);	
		} else {
			console.log("error")
			
		}
		
	}
</script>

