<br><div class="row justify-content-center">
    <div class="col-md-4">
		<h2 class="text-center">Iniciar sessão</h2><br>
		
        <form action="/login" method="POST">
			<!-- Username -->
            <div class="form-group">
                <label class="col-form-labels">Nome de utilizador:</label>
                <input type="text" name="username" class="form-control"/>
            </div>
			<!-- Password -->
            <div class="form-group">
                <label class="col-form-label">Senha:</label>
                <input type="password" name="password" class="form-control"/>
            </div>
			<!-- Submit button -->
            <div class="form-group">
				<button type="submit" class="form-control btn btn-dark">Iniciar sessão</button>
            </div>
        </form>
		<!-- Register option -->
		<a href="/register">Ainda não tem conta? Registe uma nova.</a>
    </div>
</div>
