<br><div class="row justify-content-center">
    <div class="col-md-4">
		<h2 class="text-center">Iniciar sessão</h2><br>
		
        <form action="/login" method="POST">

			<!-- Email -->
            <div class="form-group">
                <label class="col-form-labels">Email institucional:</label>
                <input type="text" id="email" class="form-control" required/>
                <p>Dominios disponiveis: {{this.allowed_domains}}</p>
            </div>

			<!-- Submit button -->
            <div class="form-group">
				<button type="submit" class="form-control btn btn-dark" id="submit-button" onclick="submitFunction()">Iniciar sessão</button>
            </div>

            <div id="loading"></div>
        </form>
    </div>
</div>

<script>
    async function submitFunction() {

        // Deactivate button
        const button = document.querySelector('#submit-button');
        button.disabled = true;

        // Notificate the user that authentication is in progress
        const loading = document.querySelector("#loading");
        
        loading.innerHTML += 
        ' <br><br> ' + 
        ' <div class="d-flex justify-content-center"> ' + 
            ' <p> Autenticação em progresso ..</p> ' + 
            ' <div class="spinner-border" role="status">' + 
                '<span class="sr-only">Loading...</span>' +
            '</div>' + 
        '</div>'

        // Request to auth api to obtain auth_req_id and expiration
        const data = {
            'email' : document.querySelector('#email').value
        };

        const response = await fetch("/auth-api/email", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        });

        const authData = await response.json();

        const auth_req_id = authData.auth_req_id;
        let counter = authData.expires_in;

        const polling_uri = `/auth-api/${auth_req_id}/poll`

        // Polling loop
        console.log("-> " + counter + " -> " + auth_req_id + " -> " + polling_uri  );


        const pollingLoop = setInterval(async () => {

            counter-=5;
            console.log("counter -> " + counter);

            const pollingResponse = await fetch(polling_uri);
            console.log("status -> " + pollingResponse.status)
            
            if(pollingResponse.status === 200) {
                console.log("-> sucesso");
                loading.innerHTML = "<p>Autenticação realizada com sucesso !</p>"
                clearInterval(pollingLoop);
            }

            if (counter === 0) {
                console.log("Auth limit time exceeded");
                loading.innerHTML = "<p>Tempo para autenticação excedido !</p>"
                clearInterval(pollingLoop);
            }

        }, 5000); // TO DO

    }

    /*function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }*/

</script>