<div class="container-fluid pageBeginning">
    <h3 class="text-center">Plano Curricular</h3>
    <div class="row row-content">
    {{#each programmeOffersByTerms}}
        <div class="col-md-6 divSpacing">
            <h4 class="text-center">{{@key}}º Semestre</h4>
            <table class="table table-bordered">
                <tr>
                    <th>Unidade Curricular</th>
                    <th class="text-center">ECTS</th>
                    <th class="text-center">Área</th>
                    <th class="text-center"><i class="fa fa-square-o" aria-hidden="true"></i></th>
                </tr>
                {{#each this}} 
                    <tr class="border_bottom">
                        <td class="col-md-3">{{this.name}}</td>
                        <td class="col-md-1 text-center">{{this.ects}}</td>
                        <td class="col-md-1 text-center">{{this.scientificArea}}</td>
                        <td class="col-md-1 text-center"><i class="fa fa-square-o" aria-hidden="true"></i></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    {{/each}}
    </div>
    <div class="divSpacing text-center">
        <button class="btn btn-dark btn-lg btn-block" href="#" type="submit">Concluir</button>
    </div>
</div>