<div class="container-fluid pageBeginning">
    <h3 class="text-center">Plano Curricular</h3>
    <br><br>
    {{#each programmeOffersByTerms}}
        <div class="offersDiv">
            <h4 class="text-center">{{@key}}</h4>
            <table class="table table-bordered tableDetails">
                <tr>
                    <th>Unidade Curricular</th>
                    <th class="text-center">ECTS</th>
                </tr>
                {{#each this}} 
                    <tr class="border_bottom">
                        <td class="col-md-4">{{this.name}}</td>
                        <td class="col-md-2 text-center">{{this.ects}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    {{/each}}
</div>