<div class="container-fluid pageBeginning">
    <h3 class="text-center">{{this.name}}</h3>


     <p class="text-center">Colocar uma descrição do curso...</p> <!--TO DO-->
        
    <div class="text-center"> <!--TO DO-->
       <a class="btn btn-outline-dark" href="#" role="button">Plano Curricular</a>
    </div>
    
</div>