<div class="container-fluid pageBeginning">
    <h3 class="text-center">Horário</h3>
    <div class="divSpacing">
        {{#if myCourses}}

        {{else}}
            <p class="text-center">Ainda não estás inscrito a nenhuma disciplina.</p>
        {{/if}}
    </div>
    <br>
    <table border="5" cellspacing="0" align="center">
        <!-- TO DO - Make it generic -->
        <tr>
            <td align="center" height="50" width="100"><b>Dia/Período</b></td>
            <td align="center" height="50" width="100"><b>Segunda</b></td>
            <td align="center" height="50" width="50"><b>Sala</b></td>
            <td align="center" height="50" width="100"><b>Terça</b></td>
            <td align="center" height="50" width="50"><b>Sala</b></td>
            <td align="center" height="50" width="100"><b>Quarta</b></td>
            <td align="center" height="50" width="50"><b>Sala</b></td>
            <td align="center" height="50" width="100"><b>Quinta</b></td>
            <td align="center" height="50" width="50"><b>Sala</b></td>
            <td align="center" height="50" width="100"><b>Sexta</b></td>
            <td align="center" height="50" width="50"><b>Sala</b></td>
            <td align="center" height="50" width="100"><b>Sabádo</b></td>
            <td align="center" height="50" width="50"><b>Sala</b></td>
        </tr>
        <tr>
            <td align="center" height="50"><b>8:00-9:30</b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
        </tr>
        <tr>
            <td align="center" height="50"><b>9:30-11:00</b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
        </tr>
        <tr>
            <td align="center" height="50"><b>11:00-12:30</b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
        </tr>
        <tr>
            <td align="center" height="50"><b>12:30-14:00</b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
        </tr>
        <tr>
            <td align="center" height="50"><b>14:00-15:30</b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
        </tr>
        <tr>
            <td align="center" height="50"><b>15:30-17:00</b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
        </tr>
        <tr>
            <td align="center" height="50"><b>17:00-18:30</b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
        </tr>
        <tr>
            <td align="center" height="50"><b>18:30-20:00</b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
        </tr>
        <tr>
            <td align="center" height="50"><b>20:00-21:30</b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
        </tr>
        <tr>
            <td align="center" height="50"><b>21:30-23:00</b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
            <td align="center" height="50"><b></b></td>
        </tr>
    </table>
</div>