<div class="container-fluid pageBeginning">
    <h3 class="text-center">Calendário</h3>
    <div class="divSpacing">
        {{#if myCourses}}

        {{else}}
            <p class="text-center">Ainda não estás inscrito a nenhuma disciplina.</p>
        {{/if}}
    </div>
</div>