body { 
  padding-top: 85px;
  background-color: #D3D3D3;
}

.pageBeginning {
  padding-top: 20px;
}

footer {
  margin-top: 40px;
}

.pageFinalSection {
  background-color: rgba(0, 0, 0, 0.2);
}

.logo-image{
  width: 170px;
  height: 170px;
  border-radius: 25%;
  overflow: hidden;
  margin-top: -55px;
  margin-bottom: -55px;
}

.nav-link{
  font-size: large /* <font size="4"> */
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown:hover>.dropdown-menu {  /* Menu */
  display: block;
  background-color: #D3D3D3;
}

.dropdown-submenu:hover>.dropdown-menu { /* Submenu */
  display: block;
  background-color: #D3D3D3;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #343a40; /* Default arrow color */
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-item>a:active { 
  color: white;
}

.dropdown-submenu:hover>a:after {
  border-left-color: DarkGrey; /* Arrow color when hovered over */
}

.dropdown-submenu:hover {
  background-color: #343a40;
}

.dropdown-item:hover{
  background-color: #343a40;
  color: white;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/* Table style */
th {
  background-color: #343a40;
  color: white;
}

tr {
  background-color: #D3D3D3;
  color: black;
}

tr.border_bottom td {
	border-bottom: 1px solid black;
}

.tableDetails {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Padding space between div and previous element */
.divSpacing {
  padding-top: 30px;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Selected Courses display boxes */
.boxes {
  text-align: left;
  width: 400px;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: #343a40;
  align-items: center;
  margin: auto;
  margin-bottom: 15px;
  color: white;
}

/* Authentication Loading  */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #343a40;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}







































































/* Schedule  */

.schedule{
  margin:1rem .5rem;
  background-color: #D3D3D3;
  border-radius: .2rem;
  padding: .5rem;
  display: grid;
  width: auto;
  grid-gap: 0;
  overflow: hidden;
  justify-self: center;

/*   grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); */
  grid-template-columns: [time] 100px
    [monday] minmax(auto, auto) 
    [tuesday] minmax(auto, auto) 
    [wednesday] minmax(auto, auto) 
    [thursday]minmax(auto, auto) 
    [friday] minmax(auto, auto) 
    [saturday] minmax(auto, auto) ;

  grid-template-rows: [header] auto
    [s] 40px
    [sf] 40px
    [st] 40px
    [sff] 40px
    [e] 40px
    [ef] 40px
    [et] 40px
    [eff] 40px
    [n] 40px
    [nf] 40px
    [nt] 40px
    [nff] 40px
    [a] 40px
    [af] 40px
    [at] 40px
    [aff] 40px
    [b] 40px
    [bf] 40px
    [bt] 40px
    [bff] 40px
    [c] 40px
    [cf] 40px
    [ct] 40px
    [cff] 40px
    [d] 40px
    [df] 40px
    [dt] 40px
    [dff] 40px;    
}

.schedule_header{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
/*  background-color: white;   */
  color: #17394d;
  text-align: center;
}

.schedule_time{
  position: relative;
  padding: 0.5rem 0.25rem;
  border: 1px solid #000;
  color: #17394d;
  font-weight: bold;
  text-align: center;
}

.grid{
  border:1px solid #000; 
}

.schedule-item{
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(9,45,66,.25); /* Originally in comment */
  padding: .5rem;
  margin: .25em;
}

.bg-red {
  background: #eb5a46b8;
  color: #8e3224;
  border: 2px solid #b95344;
}

.bg-blue {
  background: #08b7d29e;
  color: #104a53;
  border: 2px solid #157786;
}

.bg-purple {
  background: #a251bfb8;
  color: #633673;
  border: 2px solid #a24cc1;
}

.bg-yellow {
  background: #f0d50794;
  color: #847927;
  border: 2px solid #e1c700;
}

.bg-green {
  background: #61bd4fa1;
  color: #3c882d;
  border: 2px solid #61bd4f;
}

.schedule-monday { grid-column: monday / span 1; }
.schedule-tuesday { grid-column: tuesday / span 1; }
.schedule-wednesday { grid-column: wednesday / span 1; }
.schedule-thursday { grid-column: thursday / span 1; }
.schedule-friday { grid-column: friday / span 1; }
.schedule-saturday { grid-column: saturday / span 1; }

.schedule-row-from-monday { grid-column: monday / span 6;}
/* .schedule-row-to-saturday { grid-column-end: saturday; } */

.time-from-s { grid-row-start: s; }
.time-from-sf { grid-row-start: sf; }
.time-from-st { grid-row-start: st; }
.time-from-sff { grid-row-start: sff; }

.time-from-e { grid-row-start: e; }
.time-from-ef { grid-row-start: ef; }
.time-from-et { grid-row-start: et; }
.time-from-eff { grid-row-start: eff; }

.time-from-n { grid-row-start: n; }
.time-from-nf { grid-row-start: nf; }
.time-from-nt { grid-row-start: nt; }
.time-from-nff { grid-row-start: nff; }

.time-from-a { grid-row-start: a; }
.time-from-af { grid-row-start: af; }
.time-from-at { grid-row-start: at; }
.time-from-aff { grid-row-start: aff; }

.time-from-b { grid-row-start: b; }
.time-from-bf { grid-row-start: bf; }
.time-from-bt { grid-row-start: bt; }
.time-from-bff { grid-row-start: bff; }

.time-from-c { grid-row-start: c; }
.time-from-cf { grid-row-start: cf; }
.time-from-ct { grid-row-start: ct; }
.time-from-cff { grid-row-start: cff; }

.time-from-d { grid-row-start: d; }
.time-from-df { grid-row-start: df; }
.time-from-dt { grid-row-start: dt; }
.time-from-dff { grid-row-start: dff; }


/*  End */
.time-to-s { grid-row-end: s; }
.time-to-sf { grid-row-end: sf; }
.time-to-st { grid-row-end: st; }
.time-to-sff { grid-row-end: sff; }

.time-to-e { grid-row-end: e; }
.time-to-ef { grid-row-end: ef; }
.time-to-et { grid-row-end: et; }
.time-to-eff { grid-row-end: eff; }

.time-to-n { grid-row-end: n; }
.time-to-nf { grid-row-end: nf; }
.time-to-nt { grid-row-end: nt; }
.time-to-nff { grid-row-end: nff; }

.time-to-a { grid-row-end: a; }
.time-to-af { grid-row-end: af; }
.time-to-at { grid-row-end: at; }
.time-to-aff { grid-row-end: aff; }

.time-to-b { grid-row-end: b; }
.time-to-bf { grid-row-end: bf; }
.time-to-bt { grid-row-end: bt; }
.time-to-bff { grid-row-end: bff; }

.time-to-c { grid-row-end: c; }
.time-to-cf { grid-row-end: cf; }
.time-to-ct { grid-row-end: ct; }
.time-to-cff { grid-row-end: cff; }

.time-to-d { grid-row-end: d; }
.time-to-df { grid-row-end: df; }
.time-to-dt { grid-row-end: dt; }
.time-to-dff { grid-row-end: dff; }

.ds{
  display: none;
}
@media (max-width: 800px) {
  .schedule{
      display: inline-grid;
      overflow: hidden;
      grid-template-columns: [time] 40px
        [monday] minmax(auto, 125px) 
        [tuesday] minmax(auto, 125px) 
        [wednesday] minmax(auto, 125px) 
        [thursday]minmax(auto, 125px) 
        [friday] minmax(auto, 125px) 
        [saturday] minmax(auto, 125px) ;
      grid-template-rows: [header] 40px
        [s] 40px 49px
        [sf] 40px 49px
        [st] 40px 49px
        [sff] 40px 49px
        [e] 40px 49px
        [ef] 40px 49px
        [et] 40px 49px
        [eff] 40px 49px
        [n] 40px 49px
        [nf] 40px 49px
        [nt] 40px 49px
        [nff] 40px 49px
        [a] 40px 49px
        [af] 40px 49px
        [at] 40px 49px
        [aff] 40px 49px
        [b] 40px 49px
        [bf] 40px 49px
        [bt] 40px 49px
        [bff] 40px 49px
        [c] 40px 49px
        [cf] 40px 49px
        [ct] 40px 49px
        [cff] 40px 49px
        [d] 40px 49px
        [df] 40px 49px
        [dt] 40px 49px
        [dff] 40px 49px;
    }
  
    .schedule_time {
      -ms-transform: rotate(-90deg) translate(-100px);
      -webkit-transform: rotate(-90deg) translate(-100px);
      transform: rotate(-90deg) translate(-100px);
      -webkit-transform-origin: left 50%;
      -ms-transform-origin: left 50%;
      transform-origin: left top;
      width:90px;
    }
    
    .dl {
       display:none;
    }
  
    .ds{
      display: block;
    }

    /* .schedule-item {
      height: 70px;
    } */
  
  .grid-last{
    height:98px;
  }

}

/*CALENDAR TEST*/

.blue.lighten-3 {
	background-color: #81d4fa !important
}

.z-depth-2 {
	-webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3)
}

.side-nav span.badge {
	margin-top: calc(24px - 11px)
}
.side-nav .collapsible,
.side-nav.fixed .collapsible {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none
}

.side-nav .collapsible li,
.side-nav.fixed .collapsible li {
	padding: 0
}

.side-nav .collapsible-header,
.side-nav.fixed .collapsible-header {
	background-color: transparent;
	border: none;
	line-height: inherit;
	height: inherit;
	padding: 0 16px
}

.side-nav .collapsible-header:hover,
.side-nav.fixed .collapsible-header:hover {
	background-color: rgba(0, 0, 0, 0.05)
}

.side-nav .collapsible-header i,
.side-nav.fixed .collapsible-header i {
	line-height: inherit
}

.side-nav .collapsible-body,
.side-nav.fixed .collapsible-body {
	border: 0;
	background-color: #fff
}

.side-nav .collapsible-body li a,
.side-nav.fixed .collapsible-body li a {
	padding: 0 23.5px 0 31px
}
.side-nav {
	position: fixed;
	width: 300px;
	left: 0;
	top: 0;
	margin: 0;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	height: 100%;
	height: calc(100% + 60px);
	height: -moz-calc(100%);
	padding-bottom: 60px;
	background-color: #fff;
	z-index: 999;
	overflow-y: auto;
	will-change: transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-105%);
	transform: translateX(-105%)
}

.side-nav.right-aligned {
	right: 0;
	-webkit-transform: translateX(105%);
	transform: translateX(105%);
	left: auto;
	-webkit-transform: translateX(100%);
	transform: translateX(100%)
}

.side-nav .collapsible {
	margin: 0
}

.side-nav li {
	float: none;
	line-height: 48px
}

.side-nav li.active {
	background-color: rgba(0, 0, 0, 0.05)
}

.side-nav li>a {
	color: rgba(0, 0, 0, 0.87);
	display: block;
	font-size: 14px;
	font-weight: 500;
	height: 48px;
	line-height: 48px;
	padding: 0 32px
}

.side-nav li>a:hover {
	background-color: rgba(0, 0, 0, 0.05)
}

.side-nav li>a.btn,
.side-nav li>a.btn-large,
.side-nav li>a.btn-large,
.side-nav li>a.btn-flat,
.side-nav li>a.btn-floating {
	margin: 10px 15px
}

.side-nav li>a.btn,
.side-nav li>a.btn-large,
.side-nav li>a.btn-large,
.side-nav li>a.btn-floating {
	color: #fff
}

.side-nav li>a.btn-flat {
	color: #343434
}

.side-nav li>a.btn:hover,
.side-nav li>a.btn-large:hover,
.side-nav li>a.btn-large:hover {
	background-color: #2bbbad
}

.side-nav li>a.btn-floating:hover {
	background-color: #26a69a
}

.side-nav li>a>i,
.side-nav li>a>[class^="mdi-"],
.side-nav li>a li>a>[class*="mdi-"],
.side-nav li>a>i.material-icons {
	float: left;
	height: 48px;
	line-height: 48px;
	margin: 0 32px 0 0;
	width: 24px;
	color: rgba(0, 0, 0, 0.54)
}

.side-nav .divider {
	margin: 8px 0 0 0
}

.side-nav .subheader {
	cursor: initial;
	pointer-events: none;
	color: rgba(0, 0, 0, 0.54);
	font-size: 14px;
	font-weight: 500;
	line-height: 48px
}

.side-nav .subheader:hover {
	background-color: transparent
}

.side-nav .user-view,
.side-nav .userView {
	position: relative;
	padding: 32px 32px 0;
	margin-bottom: 8px
}

.side-nav .user-view>a,
.side-nav .userView>a {
	height: auto;
	padding: 0
}

.side-nav .user-view>a:hover,
.side-nav .userView>a:hover {
	background-color: transparent
}

.side-nav .user-view .background,
.side-nav .userView .background {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1
}

.side-nav .user-view .circle,
.side-nav .user-view .name,
.side-nav .user-view .email,
.side-nav .userView .circle,
.side-nav .userView .name,
.side-nav .userView .email {
	display: block
}

.side-nav .user-view .circle,
.side-nav .userView .circle {
	height: 64px;
	width: 64px
}

.side-nav .user-view .name,
.side-nav .user-view .email,
.side-nav .userView .name,
.side-nav .userView .email {
	font-size: 14px;
	line-height: 24px
}

.side-nav .user-view .name,
.side-nav .userView .name {
	margin-top: 16px;
	font-weight: 500
}

.side-nav .user-view .email,
.side-nav .userView .email {
	padding-bottom: 16px;
	font-weight: 400
}

.drag-target {
	height: 100%;
	width: 10px;
	position: fixed;
	top: 0;
	z-index: 998
}

.side-nav.fixed {
	left: 0;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	position: fixed
}

.side-nav.fixed.right-aligned {
	right: 0;
	left: auto
}

@media only screen and (max-width: 992px) {
	.side-nav.fixed {
		-webkit-transform: translateX(-105%);
		transform: translateX(-105%)
	}
	.side-nav.fixed.right-aligned {
		-webkit-transform: translateX(105%);
		transform: translateX(105%)
	}
	.side-nav a {
		padding: 0 16px
	}
	.side-nav .user-view,
	.side-nav .userView {
		padding: 16px 16px 0
	}
}

.side-nav .collapsible-body>ul:not(.collapsible)>li.active,
.side-nav.fixed .collapsible-body>ul:not(.collapsible)>li.active {
	background-color: #ee6e73
}

.side-nav .collapsible-body>ul:not(.collapsible)>li.active a,
.side-nav.fixed .collapsible-body>ul:not(.collapsible)>li.active a {
	color: #fff
}

.side-nav .collapsible-body {
	padding: 0
}


/* 
.side-nav {
  margin: 0;
  padding: 0;
  width: 350px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

*/

.calendar-wrapper {
   height: auto;
   max-width: 800px;
   margin: 0 auto;
}

.calendar-header {
   background-color: rgba(18, 15, 25, 0.25);
   height: 100%;
   padding: 20px;
   color: #fff;
   font-weight: 300;
   position: relative;
}

.header-title {
   padding-left: 15%;
}

.header-background {
   background-image: url("https://raw.githubusercontent.com/JustMonk/codepen-resource-project/master/img/compressed-header.jpg");
   height: 200px;
   background-position: center right;
   background-size: cover;
}

.calendar-content {
   background-color: #fff;
   padding: 20px;
   padding-left: 15%;
   padding-right: 15%;
   overflow: hidden;
}

.event-mark {
   width: 5px;
   height: 5px;
   background-color: teal;
   border-radius: 100px;
   position: absolute;
   left: 46%;
   top: 70%;
}

.sidebar-wrapper {
   color: #fff;
   background-color: #343a40 !important;
   padding-top: 40px;
   padding-bottom: 20px;
   font-weight: 300;
   padding-left: 0;
   padding-right: 0;
}

.sidebar-title {
   padding: 50px 6% 50px 12%;
}

.sidebar-title h4 {
   margin-top: 0;
}

.sidebar-events {
   overflow-x: hidden;
   overflow-y: hidden;
   margin-bottom: 70px;
}

.empty-message {
   font-size: 1.2rem;
   padding: 15px 6% 15px 12%;
}

.eventCard {
   background-color: #fff;
   color: black;
   padding: 12px 24px 12px 24px;
   border-bottom: 1px solid #E5E5E5;
   white-space: nowrap;
   position: relative;
   animation: slideInDown 0.5s;
}

.eventCard-header {
   font-weight: bold;
}

.eventCard-description {
   color: grey;
}

.eventCard-mark-wrapper {
   position: absolute;
   right: 0;
   top: 0;
   height: 100%;
   width: 60px;
   background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
}

.eventCard-mark {
   width: 8px;
   height: 8px;
   background-color: #343a40;
   border-radius: 100px;
   position: absolute;
   left: 50%;
   top: 45%;
}

.day-mark {
   width: 7px;
   height: 7px;
   background-color: #343a40;
   border-radius: 100px;
   position: absolute;
   left: 47%;
   top: 67%;
}

.content-wrapper {
   padding-top: 20px;
   padding-bottom: 50px;
   margin-left: 300px;
}

#table-body .col:hover {
   cursor: pointer;
   background-color: #E0E0E0;
}

.empty-day:hover {
   cursor: default !important;
   background-color: #fff !important;
}

#table-body .row .col {
   padding: .75rem;
}

#table-body .col {
   border: 1px solid transparent;
}

#table-body .row {
   margin-bottom: 0;
}

#table-body .col {
   padding-top: 1.3rem !important;
   padding-bottom: 1.3rem !important;
}

#calendar-table {
   text-align: center;
}

.prev-button {
   position: absolute;
   cursor: pointer;
   left: 0%;
   top: 35%;
   color: grey !important;
}

.prev-button i {
   font-size: 4em;
}

.next-button {
   position: absolute;
   cursor: pointer;
   right: 0%;
   top: 35%;
   color: grey !important;
}

.next-button i {
   font-size: 4em;
}

@media (max-width:992px) {
  .content-wrapper {
     margin-left: 0;
  }
  .calendar-wrapper {
     margin-top: 80px;
  }
  .sidebar-wrapper {
     background-color: #EEEEEE !important;
  }
  .sidebar-title {
     background-color: #343a40 !important;
  }
  .empty-message {
     color: black;
  }
}

@media (max-width:767px) {
  .calendar-content {
     padding-left: 5%;
     padding-right: 5%;
  }
  body .row {
     margin-bottom: 0;
  }
}

@media (max-width:450px) {
  .content-wrapper {
     padding-left: 0;
     padding-right: 0;
  }
}