/* Schedule Style */

.scheduleDiv {
  display: flex;
  justify-content: center;
}

.schedule{
    background-color: #D3D3D3;
    border: 1px solid #343a40;
    display: grid;
    grid-gap: 0;
    justify-self: center;
  
    grid-template-columns: [time] 80px
    [monday] minmax(150px, 150px) 
    [tuesday] minmax(150px, 150px) 
    [wednesday] minmax(150px, 150px) 
    [thursday]minmax(150px, 150px) 
    [friday] minmax(150px, 150px) 
    [saturday] minmax(150px, 150px) ;
  
      grid-template-rows: [header] 30px
      [s] 25px
      [sf] 25px
      [st] 25px
      [sff] 25px
      [e] 25px
      [ef] 25px
      [et] 25px
      [eff] 25px
      [n] 25px
      [nf] 25px
      [nt] 25px
      [nff] 25px
      [a] 25px
      [af] 25px
      [at] 25px
      [aff] 25px
      [b] 25px
      [bf] 25px
      [bt] 25px
      [bff] 25px
      [c] 25px
      [cf] 25px
      [ct] 25px
      [cff] 25px
      [d] 25px
      [df] 25px
      [dt] 25px
      [dff] 25px
      [g] 25px
      [gf] 25px
      [gt] 25px;    
  }
  
  .schedule_header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.5rem 1rem;
    border: 1px solid #343a40;
    background-color: #343a40;
    color: white;
    text-align: center;
  }
  
  .schedule_time{
    position: relative;
    border: 1px solid #343a40;
    background-color: #343a40;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .grid{
    border:1px solid #343a40; 
  }
  
  .schedule-item{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: .25rem; 
    padding: .5rem;
    margin: .25em;
  }
  
  .bg-red {
    background: #eb5a46b8;
    color: #772316;
    border: 2px solid #b95344;
  }
  
  .bg-blue {
    background: #08b7d29e;
    color: #0b3b42;
    border: 2px solid #157786;
  }
  
  .bg-purple {
    background: #a251bfb8;
    color: #4a2358;
    border: 2px solid #a24cc1;
  }
  
  .bg-yellow {
    background: #f0d50794;
    color: #645a10;
    border: 2px solid #e1c700;
  }
  
  .bg-green {
    background: #61bd4fa1;
    color: #1e5a12;
    border: 2px solid #61bd4f;
  }
  
  .bg-orange {
    background: #f58033a1;
    color: #5a3512;
    border: 2px solid #df6806;
  }

  .bg-pink {
    background: #ff3091a1;
    color: #5a123a;
    border: 2px solid #ec0393;
  }

  .schedule-monday { grid-column: monday / span 1; }
  .schedule-tuesday { grid-column: tuesday / span 1; }
  .schedule-wednesday { grid-column: wednesday / span 1; }
  .schedule-thursday { grid-column: thursday / span 1; }
  .schedule-friday { grid-column: friday / span 1; }
  .schedule-saturday { grid-column: saturday / span 1; }
  
  .schedule-row-from-monday { grid-column: monday / span 6;}
  /* .schedule-row-to-saturday { grid-column-end: saturday; } */
  
  .time-from-s { grid-row-start: s; }
  .time-from-sf { grid-row-start: sf; }
  .time-from-st { grid-row-start: st; }
  .time-from-sff { grid-row-start: sff; }
  
  .time-from-e { grid-row-start: e; }
  .time-from-ef { grid-row-start: ef; }
  .time-from-et { grid-row-start: et; }
  .time-from-eff { grid-row-start: eff; }
  
  .time-from-n { grid-row-start: n; }
  .time-from-nf { grid-row-start: nf; }
  .time-from-nt { grid-row-start: nt; }
  .time-from-nff { grid-row-start: nff; }
  
  .time-from-a { grid-row-start: a; }
  .time-from-af { grid-row-start: af; }
  .time-from-at { grid-row-start: at; }
  .time-from-aff { grid-row-start: aff; }
  
  .time-from-b { grid-row-start: b; }
  .time-from-bf { grid-row-start: bf; }
  .time-from-bt { grid-row-start: bt; }
  .time-from-bff { grid-row-start: bff; }
  
  .time-from-c { grid-row-start: c; }
  .time-from-cf { grid-row-start: cf; }
  .time-from-ct { grid-row-start: ct; }
  .time-from-cff { grid-row-start: cff; }
  
  .time-from-d { grid-row-start: d; }
  .time-from-df { grid-row-start: df; }
  .time-from-dt { grid-row-start: dt; }
  .time-from-dff { grid-row-start: dff; }
  
  .time-from-g { grid-row-start: g; }
  .time-from-gf { grid-row-start: gf; }
  .time-from-gt { grid-row-start: gt; }

  /*  End */
  .time-to-s { grid-row-end: s; }
  .time-to-sf { grid-row-end: sf; }
  .time-to-st { grid-row-end: st; }
  .time-to-sff { grid-row-end: sff; }
  
  .time-to-e { grid-row-end: e; }
  .time-to-ef { grid-row-end: ef; }
  .time-to-et { grid-row-end: et; }
  .time-to-eff { grid-row-end: eff; }
  
  .time-to-n { grid-row-end: n; }
  .time-to-nf { grid-row-end: nf; }
  .time-to-nt { grid-row-end: nt; }
  .time-to-nff { grid-row-end: nff; }
  
  .time-to-a { grid-row-end: a; }
  .time-to-af { grid-row-end: af; }
  .time-to-at { grid-row-end: at; }
  .time-to-aff { grid-row-end: aff; }
  
  .time-to-b { grid-row-end: b; }
  .time-to-bf { grid-row-end: bf; }
  .time-to-bt { grid-row-end: bt; }
  .time-to-bff { grid-row-end: bff; }
  
  .time-to-c { grid-row-end: c; }
  .time-to-cf { grid-row-end: cf; }
  .time-to-ct { grid-row-end: ct; }
  .time-to-cff { grid-row-end: cff; }
  
  .time-to-d { grid-row-end: d; }
  .time-to-df { grid-row-end: df; }
  .time-to-dt { grid-row-end: dt; }
  .time-to-dff { grid-row-end: dff; }
  
  .time-to-g { grid-row-end: g; }
  .time-to-gf { grid-row-end: gf; }
  .time-to-gt { grid-row-end: gt; }

  .ds{
    display: none;
  }
  @media (max-width: 950px) {
    .schedule{
        display: inline-grid;
        overflow: hidden;
        grid-template-columns: [time] 30px
          [monday] minmax(125px, 125px) 
          [tuesday] minmax(125px, 125px) 
          [wednesday] minmax(125px, 125px) 
          [thursday]minmax(125px, 125px) 
          [friday] minmax(125px, 125px) 
          [saturday] minmax(125px, 125px) ;
        grid-template-rows: [header] 30px
          [s] 30px 30px
          [sf] 30px 30px
          [st] 30px 30px
          [sff] 30px 30px
          [e] 30px 30px
          [ef] 30px 30px
          [et] 30px 30px
          [eff] 30px 30px
          [n] 30px 30px
          [nf] 30px 30px
          [nt] 30px 30px
          [nff] 30px 30px
          [a] 30px 30px
          [af] 30px 30px
          [at] 30px 30px
          [aff] 30px 30px
          [b] 30px 30px
          [bf] 30px 30px
          [bt] 30px 30px
          [bff] 30px 30px
          [c] 30px 30px
          [cf] 30px 30px
          [ct] 30px 30px
          [cff] 30px 30px
          [d] 30px 30px
          [df] 30px 30px
          [dt] 30px 30px
          [dff] 30px 30px
          [g] 30px 30px
          [gf] 30px 30px
          [gt] 30px 30px;
      }
    
      .schedule_time {
        -ms-transform: rotate(-90deg) translate(-60px);
        -webkit-transform: rotate(-90deg) translate(-60px);
        transform: rotate(-90deg) translate(-60px);
        -webkit-transform-origin: left 50%;
        -ms-transform-origin: left 50%;
        transform-origin: left top;
        width:60px;
      }

      .dl {
         display:none;
      }
    
      .ds{
        display: block;
      }

      .grid-last{
        height: 98px;
      }
  
  }
  
  